[submodule "leveldb-mcpe"]
	path = leveldb-mcpe
	url = https://github.com/Mojang/leveldb-mcpe.git
[submodule "zlib"]
	path = zlib
	url = https://github.com/madler/zlib.git
[submodule "sdlpp"]
	path = sdlpp
	url = https://github.com/antonte/sdlpp.git
[submodule "glm"]
	path = glm
	url = https://github.com/g-truc/glm.git
